language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_script:
  - composer self-update
  - cd example
  - composer install --prefer-source --no-interaction --dev
  - mysql -e 'create database app_test;'

script:
  - ./vendor/bin/phpunit
